@model FitnessTicketApp.Models.AddBerletTipusViewModel
@{
}

<h1>Uj Berlet Tipus</h1>
<form method="post" action="Add">
    <div class="mb-3">
        <label for="" class="form-label">Megnevezes</label>
        <input type="text" class="form-control" asp-for="Megnevezes">
        <label for="" class="form-label">Ar</label>
        <input type="number" class="form-control" asp-for="Ar">
        <label for="" class="form-label">Hany napig ervenyes</label>
        <input type="number" class="form-control" asp-for="HanyNapigErvenyes">
        <label for="" class="form-label">Hany belepesre ervenyes</label>
        <input type="number" class="form-control" asp-for="HanyBelepesreErvenyes">
        <label for="" class="form-label">Torolve</label>
        <label for="" class="form-label">Hanyoratol</label>
        <input type="number" class="form-control" asp-for="Hanyoratol">
        <label for="" class="form-label">Hanyoraig</label>
        <input type="number" class="form-control" asp-for="Hanyoraig">
        <label for="" class="form-label">Naponta hanyszor hasznalhato</label>
        <input type="number" class="form-control" asp-for="NapontaHanyszorHasznalhato">
        <label asp-for="SelectedGymId">Gym:</label>
        <select asp-for="SelectedGymId" asp-items="@(new SelectList(Model.Gyms, "GymId", "GymName"))"></select>
        
    </div> 
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
