@model  FitnessTicketApp.Models.ClientMembershipViewModel

@{
    ViewData["Title"] = "AddMemberShip";
}

@if (TempData["Succes"] != null)
{
    <div class="alert alert-succes">
        <strong>Succes!</strong>@TempData["Succes"]
    </div>
}
<h2>MyAction</h2>

<form asp-action="SaveMapping" method="post">
    <div class="form-group">
        <label asp-for="SelectedFelhasznaloId">Felhasználó:</label>
        <select asp-for="SelectedFelhasznaloId" asp-items="@(new SelectList(Model.Clients, "Id", "Name"))"></select>
    </div>
    <div class="form-group">
        <label asp-for="SelectedBerletId">Bérlet:</label>
        <select asp-for="SelectedBerletId" asp-items="@(new SelectList(Model.MemberShip, "Id", "Megnevezes"))"></select>
    </div>
    <div class="form-group">
        <label asp-for="StartDate">Érvényességi dátum:</label>
        <input asp-for="StartDate" class="form-control" />
    </div>
    <button type="submit">Mentés</button>
</form>